*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 45px;
}
:root {
    --backgroundBeforeSel: rgb(79, 79, 187);
    --backgroundWrong: rgb(169, 52, 52);
    --backgroundCorrect: rgb(32, 179, 32);
}

body {
    --col: var(--backgroundBeforeSel);
    background-color: var(--col);
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

body.correct {
    --col: var(--backgroundCorrect);
}

body.wrong {
    --col: var(--backgroundWrong);
}

.card {
    width: 750px;
    max-width: 75%;
    background-color: white;
    border-radius: 6px;
    padding: 8px;
    box-shadow: 0 0 15px 2px;
}

.grid {
    display: grid;
    gap: 12px;
    margin: 25px 0;
}

.btn.correct { 
    --col: var(--backgroundCorrect);
}

.btn.wrong { 
    --col: var(--backgroundWrong);
}

.controlbtns{
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-btn, .next-btn {
    display: flex;
    font-size: 60px;
    padding: 10px 20px;
}
.hide {
    display: none;
}